extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7

                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed pretium ante. Maecenas tempus maximus odio, vitae auctor neque bibendum in. Vivamus vulputate molestie dignissim. Sed bibendum tristique mauris vel eleifend. Nullam fermentum sapien id tellus laoreet pulvinar. Nulla facilisi. Quisque feugiat ac risus vitae porta. Curabitur sed elementum risus. Nunc vel augue tincidunt, dictum nibh sit amet, consectetur risus. Maecenas vehicula lacinia tellus, sagittis porttitor nunc sollicitudin eu. Pellentesque ac tempor justo, in convallis odio.

                p Fusce vulputate ac eros et pellentesque. Nunc ut eros sed risus sollicitudin ultricies eu quis urna. Etiam semper orci orci, nec pellentesque sem sagittis vitae. Ut placerat nunc a eros commodo varius. Suspendisse quis fermentum urna. Proin vel nunc eget diam sagittis ultricies sit amet id enim. Quisque tempor hendrerit pharetra. Vestibulum odio nunc, viverra vel condimentum ut, congue in dui. Proin dictum, felis at euismod eleifend, nisl diam tempus augue, sit amet tempus elit lectus non nisl. Aliquam sollicitudin aliquam nisl id varius. Donec vitae egestas odio, eu dictum nisl. Vestibulum laoreet, enim vitae malesuada iaculis, diam ligula eleifend quam, bibendum tempor felis tortor et nisi. Vivamus vitae dui rutrum, euismod elit ac, pharetra magna.

                p Nulla finibus id turpis sit amet faucibus. Duis dignissim efficitur sollicitudin. Aliquam nec lectus sit amet nulla efficitur commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam facilisis id lacus id vulputate. Cras et nisl tincidunt, hendrerit augue vitae, molestie enim. Vestibulum varius risus ut lacus feugiat, eu porttitor libero fermentum. Morbi eu ornare sapien. Pellentesque varius ex lectus, eu malesuada velit dignissim at. Donec sit amet erat lorem.
    .listado_iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed pretium ante. Maecenas tempus maximus odio, vitae auctor neque bibendum in.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed pretium ante. Maecenas tempus maximus odio, vitae auctor neque bibendum in.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed pretium ante. Maecenas tempus maximus odio, vitae auctor neque bibendum in.
